footer.footer {
    background-color: var(--color-5);
    color: var(--color-text);
    padding: var(--sp1) 0;

    @media (max-width: 576px) {
        margin-bottom: 42px;
    }

    .footer__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}