<div class="social_media">
    <a href="tel://+380951682828" class="link link-phone"></a>
    <a href="tg://resolve?domain=zdorovastopa" class="link link-telegram" target="_blank"></a>
    <a href="viber://chat?number=%2B380955781010" class="link link-viber" target="_blank"></a>
    <a href="https://www.instagram.com/tochone.ua/" class="link link-instagram" target="_blank"></a>
</div>