*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: var(--font-sans);
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

html.hidden,
body.hidden {
    overflow: hidden;
}

figure {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visibility-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}