{% extends 'blocks/base.html.twig' %}

{% block body_block %}
    <div class="section__content">
        <h1 class="section__title">{{ attributes.data.title }}</h1>
        <div class="section__content">{{ attributes.data.text }}</div>
        <div class="section__actions">
            <button class="button button-primary actionShowModal">Передзвоніть мені</button>
        </div>
    </div>
    <div class="rotate"></div>
{% endblock %}
