<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                {{ site_logo() }}
            </div>
            <div class="footer__menu">
                {{ menu('footer') }}
            </div>
            <div class="footer__actions">
                {{ language_switcher(page) }}
            </div>
        </div>
    </div>
</footer>