<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                {{ site_logo() }}
            </div>
            <div class="header__menu">
                {{ menu('header') }}
            </div>

            <div class="header_actions">
                {{ language_switcher(page) }}
            </div>
        </div>
    </div>
</header>