<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                {{ site_logo() }}
            </div>
            <div class="header__menu">
                {{ menu('header') }}
            </div>

            <div class="header__actions">
                <button class="button button-primary actionShowModal">Записатись онлайн</button>
            </div>

            <div class="header__mobile_actions">
                <button class="hamburger actionToggleMenu">
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                </button>
            </div>
        </div>
    </div>
</header>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        {{ menu('header') }}

        <div class="header__actions">
            <button class="button button-primary actionShowModal">Записатись онлайн</button>
        </div>
    </div>
</div>