.section.section-contact-us {
    padding: 80px 0;

    @media (max-width: 768px) {
        padding: 40px 0;
    }

    .section__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: var(--sp4);

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-gap: var(--sp2);
        }
    }

    .section__frame {
        border-radius: var(--br-xl);
        border: 3px solid var(--color-3);
        overflow: hidden;

        iframe {
            width: 100%;
            height: 400px;
            display: block;

            @media (max-width: 768px) {
                height: 280px;
            }
        }
    }

    .section__content {

        .item {
            margin-bottom: var(--sp1);

            a {
                &:hover {
                    color: var(--color-3);
                }
            }
        }

    }

}